.devices {
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.devices-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devices-header {
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 15px;
}
