.devices {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.devices-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.devices-header {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
}
