.product-container {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  overflow: hidden;
  border: 1px solid #d3d3d3;

  & a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  & .product-type {
    margin-bottom: 0;
    min-height: 40px;
    font-weight: bold;
  }

  & .product-name {
    min-height: 50px;
  }

}
